<main>
    <p class="lead fs-2 text-primary">Consumiendo el Servicio de Empleados total: {{empleados.length}}</p>
    <section class="row">
        <aside class="col col-7 border border-2 border-primary ms-2 me-2">
            <p class="lead fs-4 text-primary">Listado de Empleados</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Edad</th>
                        <th>Cargo</th>
                        <th>Eliminar</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of empleados">
                        <td>{{emp.id}}</td>
                        <td>{{emp.nombres}}</td>
                        <td>{{emp.apellidos}}</td>
                        <td>{{emp.edad}}</td>
                        <td>{{emp.cargo}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="eliminar(emp)">Eliminar</button>
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm" (click)="editar(emp)">Editar</button>
                        </td>
                    </tr>
                </tbody>    
            </table>
        </aside>

        <aside class="col col-4 border border-2 border-primary ms-2 me-2">
            <p class="lead fs-4 text-primary">Empleados Form</p>

            <form [formGroup]="formEmpleado">
                <label class="lead fs-4 text-primary">Nombres</label>
                <input type="text" class="form-control text-primary" formControlName="nombres"/>
                <label class="lead fs-4 text-primary text-primary">Apellidos</label>
                <input type="text" class="form-control text-primary" formControlName="apellidos"/>
                <label class="lead fs-4 text-primary text-primary">Edad</label>
                <input type="text" class="form-control text-primary" formControlName="edad"/>
                <label class="lead fs-4 text-primary text-primary">Cargo</label>
                <input type="text" class="form-control text-primary" formControlName="cargo"/>
                <button *ngIf="muestraBtnR" class="btn btn-sm btn-primary mt-3 mb-4" (click)="registrar()">Registrar</button>
                <button *ngIf="muestraBtnA" class="btn btn-sm btn-info mt-3 mb-4" (click)="actualizar()">Actualizar</button>

                <button *ngIf="muestraBtnA" class="btn btn-sm btn-danger mt-3 mb-4 ms-2" (click)="cancelar()">Cancelar</button>
            </form>
        </aside>
    </section>
</main>
